<!doctype html>
<html ng-app="date-range.example">
  <head>
    <title>Date range example</title>
    <script type="text/javascript" src="/vendor/angular.js"></script>
    <script type="text/javascript" src="/vendor/moment.js"></script>
    <script type="text/javascript" src="example.js"></script>
    <script type="text/javascript" src="/src/date-range.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-horizontal" ng-controller="ExampleController">
        <label for="date-from">From:</label>

        <date-range
          id="date-from"
          ng-model="dateFrom"
          date-format="YYYY-MM-DD"
          number-of-months="1"
          min="today"
          max="fourMonthsFromNow"
          week-clicked="selectFirstDay(week)"
          date-disabled="isWeekend(date)"
          ng-required="true">
        </date-range>

        <label for="date-to">To:</label>
        <date-range
          id="date-to"
          ng-model="dateTo"
          number-of-months="2"
          first-day-of-week="3"
          date-range-begin="dateFrom"
          min="today"
          week-clicked="selectLastDay(week)"
          date-changed="dateChanged()"
          ng-required="true" >
        </date-range>

          <pre>{{dateFrom | date}}</pre>
          <pre>{{dateTo | date}}</pre>
      </div>
    </div>
  </body>
</html>
